[run]
branch = True
concurrency = multiprocessing
omit =
    */venv/*
    */.venv/*
    */.env/*
    */.tox/*

[report]
omit =
    */venv/*
    */.venv/*
    */.env/*
    */.tox/*
exclude_lines =
    pragma: no cover
