.tox/
.venv*
.env*
.coverage
**/.ipynb_checkpoints/
*.geojson
*.pyc
*.in
*egg-info/
dist/
build/
/docs/build
test.py

#IDE
.spyproject/
.idea/

cover/
conda/
*coverage.xml
/setup.py
/requirements.txt
